#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  min-width: 300px;
  max-width: 300px;
  flex-direction: column; 
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 2px;
  padding: 2px;
}
label {
  align-self: flex-start;
}
input {
  padding: 15px;
  margin: 5px 0px 0px 0px;  
}

.form-error-text {
  font-size: 15px;
  color: rgb(246, 90, 90);
  text-align: left;
  padding: 2px;
  margin: 2px;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

:-ms-input-placeholder {
  color:white;
  opacity: 0.6;
}

button {
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  cursor: pointer;
}